@mixin dark-button {
    /* Rectangle 172: */
    background: #464646;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    border: 2px solid #000000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    border-radius: 3px;
}

@mixin display {
	font-family: "vcr_osd_monoregular";
    background: #1A1A1A;
    border: 2px solid #000000;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.12), 0px 1px 0px 0px rgba(255, 255, 255, 0.16), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.24);
    border-radius: 1px;
    position: relative;
   

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        /* Rectangle 228 Copy 2: */
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        border: 1px solid rgba(255, 255, 255, 0.17);
        border-radius: 2px;
    }
}
@mixin center-content{
	display: flex;
  align-items: center;
  justify-content: center;
}