//@import "base";
//@import "typo";

//@import "components/";
//@import "pages/";
//
//
//
@import 'mixins';
$instruments: (kick #6DA9FF) (snare #916ce9) (hhClosed #F9AA55) (hhOpen #FF6DB0);

.console {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    height: 300px;
    font-family: monospace;
    z-index: 99;
    padding: 10px;
}

@font-face {
    font-family: "DroneRangerOblique";
    src: url("/fonts/DroneRangerOblique.ttf");
}

* {
    box-sizing: border-box !important;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #424242;
    color: white;
    font-family: "DroneRangerOblique";
    letter-spacing: 1px;
}

a {
    -webkit-user-select: none !important;
    color: red;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 0;
    margin-top: 25%;
}

#selectDevice {
    padding: 20px;

    p {
        font-size: 22px;
        line-height: 1.2;
    }

    .homeButton {
        color: white;
        text-decoration: none;
        display: block;
        padding: 20px;
        height: 97px;
        background: #464646;
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        border: 2px solid #000000;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
        border-radius: 10px;
        position: relative;
        margin-bottom: 10px;
        font-size: 26px;

        small {
            display: block;
            font-size: .6em;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
            height: 5px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            border-radius: 14px;
            transition: all .2s;
        }

        &.active {
            &:after {
                background: #74D361;

                //border: 1px solid #272727;
                box-shadow: 0px 0px 2px 0px #FFFA00, 0px 0px 6px 0px #8FDD78, 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.36), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            }
        }
    }
}

.effects {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 16px;

    .effect {
        flex: 1;
        padding: 8px 0;
        display: flex;
        position: relative;

        .amountBar {
            position: absolute;
            left: 10px;
            top: 20px;
            bottom: 20px;
            width: 10px;
            background: white;
            overflow: hidden;
            border-radius: 5px;
            background: #FBFBFB;
            border: 1px solid #272727;
            box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.5);

            .amount {
                width: 100%;
                position: absolute;
                bottom: 0;
                background: #858585;
                border: 1px solid #272727;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
            }
        }
    }

    .effectButton {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3f3f3f;
        text-align: center;
        width: 100%;
        min-height: 100%;
        font-size: 21px;
        background: #EDEDED;
        border: 2px solid #000000;
        box-shadow: 0px 0px 13px 0px rgba(255, 132, 0, 0), 0px 0px 17px 16px rgba(255, 129, 0, 0), inset 0px 0px 8px 6px rgba(255, 255, 255, 0), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
        transition: all .3s;
        border-radius: 3px;

        &.active {
            background: #FF7E00;
            border: 2px solid #000000;
            box-shadow: 0px 0px 13px 0px rgba(255, 132, 0, 0), 0px 0px 17px 16px rgba(255, 129, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 8px 6px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            color:white;
            .amountBar .amount {
                background: #3881FF;
            }
              img{

                    -webkit-filter: brightness(100);
                }

        }

        .inner {
            width: 100%;

            img {
                 transition: all .3s;
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
    }
}

#sequencerContainer {
    padding: 20px;
    height: 100vh;
    display: flex;
}

#sequencer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .instrument {
        position: relative;
        padding: 8px 0;
        flex: 1;
        display: flex;
        align-items: stretch;

        @each $i in $instruments {
            &.#{nth($i, 1)} .step.active {
                background: nth($i, 2);
            }
        }
    }

    .icon {
        width: 20%;
        display: flex;
        padding-right: 10px;

        .instrumentButton {
            font-size: 14px;
            padding: 10px 10px;
            width: 100%;
            min-height: 100%;
            background: #464646;
            border: 2px solid #000000;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            border-radius: 4px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 10px;
                left: 10px;
                right: 10px;
                height: 5px;
                border-radius: 3px;
                border: 1px solid rgba(0, 0, 0, 0.4);
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
                border-radius: 14px;
                transition: all .2s;
            }

            &.active {
                &:after {
                    background: #74D361;

                    //border: 1px solid #272727;
                    box-shadow: 0px 0px 2px 0px #FFFA00, 0px 0px 6px 0px #8FDD78, 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.36), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
                }
            }
        }
    }

    .steps {
        display: flex;
        width: 100%;
        min-height: 100%;
    }

    .step {
        flex: 1;
        min-height: 100%;
        margin-right: 8px;
        border-radius: 3px;
        background-image: linear-gradient(0deg, rgba(117, 117, 117, 0.34) 0%, #3F3F3F 100%);
        background: #202020;
        border: 1px solid rgba(150, 150, 150, 0.3);
        box-shadow: inset 0px 1px 9px 0px rgba(0, 0, 0, 0.77);
        border-radius: 4px;
        position: relative;

        &:hover {
            //background-color: #414040;
       
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: url(/img/sequencer-active.png);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            background: rgba(255, 255, 255, 0.2);
        }

        &.current {
            &:after {
                opacity: .3;
            }
        }

        &.active {
            border: 1px solid #000000;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            border-radius: 4px;
        }
    }
}

.noteContainer {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    top: 0;
    position: relative;

    .segmentCircle {
        position: fixed;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .tick {
        position: fixed;
        z-index: 99;
        height: 44%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 182px;
        transform-origin: 0% 0%;
    }

    .base {
        max-width: 630px;
        position: fixed;
        top: 50%;
        left: 50%;
        height: 165%;
        transform: translate(-50%, -50%);
    }

    .lampBig {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
}



.arpeggiatorContainer {
    height: 100vh;
    
    .oscillatorTypeSelect {
         .headline{
             padding: 10px 5px 10px ;
            font-size: 22px;
        }
        z-index: 99;
        position: fixed;
        right: 8px;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 5px 0;

        .selectButton {
            margin: 5px 0px;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            color: #3f3f3f;
            text-align: center;
            width: 100%;
            font-size: 21px;
            background: #EDEDED;
            border: 2px solid #000000;
            box-shadow: 0px 0px 13px 0px rgba(255, 132, 0, 0), 0px 0px 17px 16px rgba(255, 129, 0, 0), inset 0px 0px 8px 6px rgba(255, 255, 255, 0), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            transition: all .3s;
            border-radius: 3px;

            &.active {
                background: #FF7E00;
                border: 2px solid #000000;
                box-shadow: 0px 0px 13px 0px rgba(255, 132, 0, 0), 0px 0px 17px 16px rgba(255, 129, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 8px 6px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
                  img{

                    -webkit-filter: brightness(100);
                }
            }

            img {
                display: block;
                width: 40%;
            }
        }
    }

    .chordOrderSelect {
        z-index: 98;
        top: 0;
        bottom: 0;
        position: fixed;
        left: 0;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 5px 0;
        .headline{
            padding: 10px 10px 5px;
             font-size: 22px;
        }
        .selectButton {
            flex: 1;
            margin: 5px 10px;
            background: #1A1A1A;
            border: 2px solid #000000;
            box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.12), 0px 1px 0px 0px rgba(255, 255, 255, 0.16), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.24);
            border-radius: 1px;
            padding: 20px;
            display: flex;
            align-items: stretch;
            height: 70px;
            position: relative;
            display: flex;
            align-items: stretch;
            padding: 10px;
            transition:all .2s;
            &.active {
                background: #002B00;
                .bar {
                    background: green !important;
                }
            }

            .column {
                flex: 1;
                position: relative;

                .bar {
                    transition:all .2s;
                    background: white;
                    height: 5px;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                }
            }
        }
    }
}

.lampBig {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background: #323232;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #111111 100%);
    border: 1px solid #000000, 1px solid rgba(150, 150, 150, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 8px 1px rgba(0, 0, 0, 0.77);
    display: flex;
    align-items: center;
    transform-origin: 0% 0%;
    justify-content: center;
    position: relative;
    pointer-events: none;


    //overflow:hidden;

    .l1 {
        position: relative;
        z-index: 9;
        transition: all .2s;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background: #565656;
        border: 1px solid #4e4e4e;
        box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.24);
        box-shadow: 0px 2px 19px 0px rgba(2, 255, 38, 0), 0px 0px 2px 0px rgba(#FFFA00, 0), 0px 0px 6px 0px rgba(#8FDD78, 0), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.24), inset 0px 0px 0px 3px rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: center;

        /* Oval 27: */
    }

    .l2 {
        height: 18px;
        width: 18px;
        border-radius: 100%;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0.9) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .l3 {
        height: 18px;
        width: 18px;
        border-radius: 100%;
        opacity: 0.54;
        background-image: linear-gradient(-119deg, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.5) 100%);
    }

    &.active { 
        .l1 {
            background: red !important;
            border: 1px solid red !important;
            box-shadow: 0px 2px 19px 0px rgba(red, 0.54), 0px 0px 2px 0px red, 0px 0px 6px 0px red, 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.36), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24) !important;
        }
    }
}

.turnDeviceOverlay{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#424242;
    z-index: 999;
    @include center-content;
    display:none;
    text-align:center;
    div{
        width: 100px;
    }
    img{
        width: 100%;
    }
}
@media (orientation: portrait) {
    .turnDeviceOverlay{
        display: flex;
    }
}




@import 'components/monitor';
@import 'components/login';