.deviceCode{
	display:flex;
	justify-content:stretch;
	.char{
		flex:1;
		width: 100%;
		 @include display;
		 height: 70px;
		 line-height: 65px;
		 text-align: center;
		  font-family: "VCR OSD MONO";
		  font-size: 2em;
	}
	.spacer{
		width: 10px;
	}

}

div.visualiserContainer{
    padding: 10px;
    @include display;
}

.monitorContainer {
	padding-top:80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    h2 {
        font-weight: normal;
        font-size: 22px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 5px;
        margin-top: 40px;
    }

    header {
    	position: fixed;
    	width: 100%;
    	left:0;
    	top:0;
    	z-index: 99;
        padding: 10px 0;
       text-align: center;

background: #424242;
background-image: linear-gradient(0deg, rgba(0,0,0,0.26) 0%, rgba(0,0,0,0.00) 100%);
box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.50), 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px -1px 0px 0px rgba(255,255,255,0.14);
        
        $header-button-height: 60px;
        .logo{
        	float: left;
        	text-align: left;
        	height: $header-button-height;
        	line-height:24px;
        	padding-top:10px;
        	padding-left:35px;
        	font-size: 26px;
        	margin-right: 40px;
        }
		.playButton,.recordButton{
			height: $header-button-height;
			line-height: $header-button-height;
			display: block;
			 @include dark-button;
			 border-radius: 3px;
			  transition: all .3s;
           cursor: pointer;
           color:rgba(255,255,255,.6);
           float:left;
           margin-right: 10px;
		}

        .recordButton {
        	font-size: 22px;
        	width: $header-button-height;  
            &.active {
              color:#C22424;
				text-shadow: 0px 0px 10px 0px #C22424;
            }
        }

        .playButton {
        	font-size: 24px;
        	width: 120px; 
            &.active {
              color:#00C524;
				text-shadow: 0px 0px 10px 0px #37AC4B;
            }
        }
        .infoButton{ 
        	
        	margin-left:10px;
        	padding:0 30px;
        	height: $header-button-height;
			line-height: $header-button-height;
			display: block;
			float: right;
			 @include dark-button;
			 border-radius: 3px;
			 &.last{
				margin-right: 35px;
			 }
        }

        .BPMSelect {
        	float:left;
        	height: $header-button-height;
        	line-height: $header-button-height + 5;
            width: 140px;
            //margin-top: 5px;
            position: relative;
            padding-left: 30px;
            display: block;

            /* 128 BPM: */
            font-size: 45px;
            color: #FFFFFF;
            letter-spacing: 0px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

            small {
                font-size: 22px;
            }

            .stepper {
                top: 20px;
                position: absolute;
                left: 15px;

                .up {
                    margin-bottom: 7px;
                }

                img {
                    display: block;
                }
            }
        }
    }

    .deviceContainer {
        display: flex;
        flex: 1;

        .deviceColumn {
            padding: 30px 70px;
            flex: 1;
        }

        .divider {
            /* Divider: */
            width: 0px;
            border: 1px solid #000000;
            box-shadow: 2px 0px 0px 0px rgba(255, 255, 255, 0.05), -2px 0px 0px 0px rgba(255, 255, 255, 0.05);
        }
    }

    .deviceStatus {
        display: flex;
        margin-bottom: 50px;

        &.active {
            .deviceStatusText {
                background: #1A1A1A;
            }

            .lamp {
                .l1 {
                    background: #74D361 !important;
                    border: 1px solid #51BF3B !important;
                    box-shadow: 0px 2px 19px 0px rgba(2, 255, 38, 0.54), 0px 0px 2px 0px #FFFA00, 0px 0px 6px 0px #8FDD78, 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.36), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24) !important;
                }
            }
        }

        .deviceStatusLampContainer {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                display: none;
            }

            .lamp {
                height: 16px;
                width: 16px;
                border-radius: 100%;
                background: #323232;
                background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #4A4A4A 100%);
                border: 1px solid #000000, 1px solid rgba(150, 150, 150, 0.3);
                box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 8px 1px rgba(0, 0, 0, 0.77);
                display: flex;
                align-items: center;
                justify-content: center;

                .l1 {
                    transition: all .3s;
                    height: 12px;
                    width: 12px;
                    border-radius: 100%;
                    background: #565656;
                    border: 1px solid #4e4e4e;
                    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.24);
                    box-shadow: 0px 2px 19px 0px rgba(2, 255, 38, 0), 0px 0px 2px 0px rgba(#FFFA00, 0), 0px 0px 6px 0px rgba(#8FDD78, 0), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.24), inset 0px 0px 0px 3px rgba(255, 255, 255, 0);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .l2 {
                    height: 10px;
                    width: 10px;
                    border-radius: 100%;
                    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 12%, #FFFFFF 100%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .l3 {
                    height: 10px;
                    width: 10px;
                    border-radius: 100%;
                    opacity: 0.54;
                    background-image: linear-gradient(-119deg, rgba(255, 255, 255, 0) 65%, #FFFFFF 100%);
                }
            }
        }

        .deviceStatusText {
            transition: all .3s;
            flex: 1;
            background: #2C1212;
            border: 2px solid #000000;
            box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.12), 0px 1px 0px 0px rgba(255, 255, 255, 0.16), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.24);
            border-radius: 3px;
            padding: 20px 0;
            text-align: center;
            font-family: "VCR OSD MONO";
            text-transform: uppercase;

            /* MONITOR - THIS DEVIC: */
            font-size: 14px;
            color: #white;
            letter-spacing: 1px;

            //text-shadow: 0px 0px 5px rgba(255,255,255,0.02);
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                /* Rectangle 228 Copy 2: */
                background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
                border: 1px solid rgba(255, 255, 255, 0.17);
                border-radius: 2px;
            }
        }
    }

    .rootNotes {
        display: flex;
        flex-wrap: wrap;
            justify-content: space-between;
            align-content:flex-start;

        .note {
            width: 22%;
            font-size: 37px;
            padding: 15px 0 10px 0;
            text-align: center;
            background: #464646;
            border: 2px solid #000000;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            margin-bottom: 15px;
        }
    }
    .effects{
    	height: auto;
        flex-direction: row;
        width: 100%;
         justify-content: space-between;
        .effect{
           flex:1;
            width: 30%;
             height: 110px;

        }
        .spacer{
            width: 10px;
        }
    }
    .oscillatorType{
        display: flex;
          flex-direction: row;
        width: 100%;
         justify-content: space-between;
         .spacer{
            width: 10px;
        }
         .selectButton{
            flex:1;
             margin: 5px 0px;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            color: #3f3f3f;
            text-align: center;
            width: 100%;
            font-size: 21px;
            background: #EDEDED;
            border: 2px solid #000000;
            box-shadow: 0px 0px 13px 0px rgba(255, 132, 0, 0), 0px 0px 17px 16px rgba(255, 129, 0, 0), inset 0px 0px 8px 6px rgba(255, 255, 255, 0), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
            transition: all .3s;
            border-radius: 3px;
            padding: 10px 0;

            &.active {
                background: #FF7E00;
                border: 2px solid #000000;
                box-shadow: 0px 0px 13px 0px rgba(255, 132, 0, 0), 0px 0px 17px 16px rgba(255, 129, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 8px 6px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24);
                img{

                    -webkit-filter: brightness(100);
                }
              
            }
            img{
                width: 60%;
                display: block
            }
         }
    }
    .sequencerPattern {
        margin: 0 -5px;

        .instrument {
            margin-bottom: 15px;

            @each $i in $instruments {
                &.#{nth($i, 1)} .step.active.current {
                    .lamp {
                        .l1 {
                            background: nth($i, 2) !important;
                            border: 1px solid nth($i, 2) !important;
                            box-shadow: 0px 2px 28px 0px rgba(nth($i, 2), 0.54), 0px 0px 5px 0px nth($i, 2), 0px 0px 10px 0px nth($i, 2), 0px 3px 6px 0px rgba(0, 0, 0, 0.5), inset 0px 3px 0px 0px rgba(255, 255, 255, 0.36), inset 0px 0px 0px 4px rgba(255, 255, 255, 0.24) !important;
                        }
                    }
                }
            }

            .steps {
                display: flex;
                align-items: stretch;

                .step {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.current {
                        .lamp {
                            &:before {
                                z-index: 1;
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;

                                //background: rgba(255,255,255,.2);
                           
                            }
                        }
                    }

                    /* &.active {
                         .lamp {
                             .l1 {
                                 background: #74D361 !important;
                                 border: 1px solid #51BF3B !important;
                                 box-shadow: 0px 2px 19px 0px rgba(2, 255, 38, 0.54), 0px 0px 2px 0px #FFFA00, 0px 0px 6px 0px #8FDD78, 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.36), inset 0px 0px 0px 3px rgba(255, 255, 255, 0.24) !important;
                             }
                         }
                     }
                     */
                }

                .lamp {
                    height: 24px;
                    width: 24px;
                    border-radius: 100%;
                    background: #323232;
                    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #111111 100%);
                    border: 1px solid #000000, 1px solid rgba(150, 150, 150, 0.3);
                    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 8px 1px rgba(0, 0, 0, 0.77);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    //overflow:hidden;

                    .l1 {
                        position: relative;
                        z-index: 9;
                        transition: all .2s;
                        height: 20px;
                        width: 20px;
                        border-radius: 100%;
                        background: #565656;
                        border: 1px solid #4e4e4e;
                        box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.24);
                        box-shadow: 0px 2px 19px 0px rgba(2, 255, 38, 0), 0px 0px 2px 0px rgba(#FFFA00, 0), 0px 0px 6px 0px rgba(#8FDD78, 0), 0px 2px 4px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.24), inset 0px 0px 0px 3px rgba(255, 255, 255, 0);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        /* Oval 27: */
                    }

                    .l2 {
                        height: 18px;
                        width: 18px;
                        border-radius: 100%;
                        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0.9) 100%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .l3 {
                        height: 18px;
                        width: 18px;
                        border-radius: 100%;
                        opacity: 0.54;
                        background-image: linear-gradient(-119deg, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.5) 100%);
                    }
                }
            }
        }
    }

    .arpeggiatorPattern {
        /* Rectangle 228: */

        @include display;

       

        padding: 20px;
        display: flex;
        align-items: stretch;
        height: 70px;
        transition:all .2s;
        &.active{
            background:#002B00;
        }

      
        .patternColumn {
            flex: 1;
            height: 100%;
            position: relative;
        }

        .bar {
            transition: all .2s;
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 5px;
            background: white;

            &.active {
                background: green;
            }
        }
    }

}